table{
	border-collapse: collapse;
	border-spacing: 0;
	color: black;
}
th,td{
	padding: 9px 15px;
	border:1px solid ;
	line-height: 20px;
	font-size: 14px;
}
caption{
	margin:0px;
	border-spacing: 0;
	border:1px solid ;
	font-weight: bold;
	text-align:center;
}